html {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 10px;
    font-weight: bold;
    box-sizing: border-box;
    background-image:url(https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
    background-size:cover;
}

header {
    background: rgb(139, 139, 139);
    font-size: 3rem;
    position: relative;
    left: 0;
    right: 0;
    padding: 2em 5em;
    box-shadow: 0 10px 10px -2px rgb(14, 0, 143);
}

.name {
    float: left;
}

.links {
    float: right;
    box-sizing: border-box;

}

a:visited {
    color: black;
}

a:hover {
    color: rgb(2, 111, 255);
}


body {
    min-height: 100vh;
    padding: 40px 20px 80px;
    box-shadow: 0 0 12px 2px black;
    background: rgba(111, 0, 255, 0.041);
    max-width: 960px;
    margin: auto;
}

h1,
h2 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-top: 2em;
}

.personalPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h3 {
    font-size: 2em;
    text-align: center;
    color: rgb(15, 0, 151);

}

h4 {
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
    color:rgb(15, 0, 151);

}

h5 {
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
    color: rgb(15, 0, 151);
}

.motorCycle {
    float: right;
    margin: 0 24px 24px 10px;
    height: 200px;
}

.camera {
    float: left;
    margin: 0 24px 24px 10px;
    height: 200px;
}

.mountain {
    float: right;
    margin: 0 24px 24px 10px;
    height: 200px;
}

p {
    font-size: 3em;
    text-align: center;
}


<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap" rel="stylesheet">