html {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-left: 160px;
    padding: 0px 10px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#forest {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.sideNav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sideNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.waivy {
    text-align: center;
}

.waivy span {
    position: relative;
    display: inline-flex;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    animation: flip 5s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}




a:visited {
    color: white;
}

a:hover {
    color: rgb(2, 110, 255);
}


body {
    min-height: 100vh;
    padding: 40px 20px 80px;
    box-shadow: 0 0 15px 10px black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background: rgba(147, 146, 148, 0.041);
    max-width: 960px;
    margin: auto;
    color: white;
}

h1,
h2 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-top: 2em;
    text-shadow: black -1px 4px 1px;
}

.personalPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    opacity: 0.8;
    box-shadow: 0 10px 20px 5px rgb(8, 8, 10);
}

h3 {
    font-size: 3em;
    text-align: center;
    color: rgb(255, 255, 255);

}

h4 {
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    color: rgb(255, 255, 255);

}

h5 {
    font-size: 3em;
    text-align: center;
    margin-top: 100px;
    color: rgb(255, 255, 255);
}

.motorCycle {
    float: right;
    margin: 0 24px 24px 10px;
    height: 200px;
    opacity: 0.8;
    box-shadow: 0 10px 20px 5px rgb(8, 8, 10);
}

.camera {
    float: left;
    margin: 0 24px 24px 10px;
    height: 200px;
    opacity: 0.8;
    box-shadow: 0 10px 20px 5px rgb(8, 8, 10);
}

.mountain {
    float: right;
    margin: 0 24px 24px 10px;
    height: 200px;
    opacity: 0.8;
    box-shadow: 0 10px 20px 5px rgb(8, 8, 10);
}

p {
    font-size: 3em;
    text-align: center;
}

#arizona {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    font-size: large;
    border-radius: 5px;
    padding: 20px;
}

input[type=submit] {
    background-color: rgb(2, 111, 255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}